./capmd/
cmake-build-debug/

.DS_Store
.idea/
CMakeFiles/
build/
pybind11/

*.vtu
*.pvd
videos/

.ipynb_checkpoints/
__pycache__/
lib/
testing_pybind.ipynb
trajectory.p
vtp/

capmd.cbp
pycapmd.cpython-37m-darwin.so

python-run/util/SAMoSA/
python-run/build/
python-run/data/
python-run/examples/death_division/output/*
python-run/examples/msd/output/*
python-run/examples/wound_healing/output/*
python-run/examples/zap_cells/output/*
python-run/examples/no_death_div/output/*
python-run/current_work/
python-run/grant_fig/

docs/
src/doxyconfig
