./capmd/
cmake-build-debug/

.DS_Store
.idea/
CMakeFiles/
build/
pybind11/

*.vtu
*.pvd
videos/

.ipynb_checkpoints/
__pycache__/
lib/
testing_pybind.ipynb
trajectory.p
vtp/

capmd.cbp
pycapmd.cpython-37m-darwin.so
